.client-list {
    --card-item: 6
}

.client-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid $social-icon-cl;
    border-radius: 4px;
    fill: $social-icon-cl;
    transition: fill $transition, background-color $transition, border-color $transition;
    
    &:hover, &:focus {
    fill: $accent-cl;
    border-color: $accent-cl;
    background-color: $primery-bg-cl;
}
}

