.project-filter__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap: 8px;
    justify-content: center;
}

.project-filter__button {

    padding: 6px 22px;
    border-radius: 4px;
    border: none;

    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: $title-text-cl;
    background-color: $portfolio-btn-cl;
    transition: color $transition, background-color $transition, filter $transition;

    &:hover,
    &:focus {
        color: $primery-bg-cl;
        background-color: $accent-cl;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.project__link {
    background-color: $primery-bg-cl;
    transition: filter $transition;

    &:hover, &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
}
.project__content {
    padding: 20px 24px;
    border: 1px solid #ECECEC;
}

.project__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-cl;
}

.project__label {
    font-size: 16px;
    line-height: calc(30 / 16);
}

.project__thumb {
    position: relative;
    overflow: hidden;
}

.project__description {

    position: absolute;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: $primery-bg-cl;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(+100%);
    transition: transform $transition;

    .project__link:hover &,
    .project__link:focus & {
        transform: translateY(0);
    }
}