.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $footer-bg-cl;

}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    margin-bottom: 20px;
    display: block;
}

