.footer-item:not(:last-child) {
    margin-right: 70px;
}

.footer-item:last-child {
    margin-left: auto;
}

.footer-item__title {
    margin-bottom: 20px;
    color: $primery-bg-cl;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
}

.footer-item__link {

    fill: $primery-bg-cl;
    background-color: #44454E;
    transition: filter $transition, background-color $transition;
    
    &:hover, &:focus {
    fill: $primery-bg-cl;
    background-color: $accent-cl;
}
}

