.logo{
    display: block;
    color: $accent-cl;
    font-family: Raleway,cursive;
    font-size: 26px;
    font-weight: 700;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    text-decoration: none;

    &--black {
            color: $title-text-cl;
        }
                &--white {
                    color: $primery-bg-cl;
        
                }
}
