.project-list__link {
    background-color: $primery-bg-cl;
    transition: filter $transition;

    &:hover, &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
}
.project-list__content {
    padding: 20px 24px;
    border: 1px solid #ECECEC;
}

.project-list__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-cl;
}

.project-list__label {
    font-size: 16px;
    line-height: calc(30 / 16);
}